body{

}


.container{




}

.main-nav{

  margin-top: 80px;
  margin-right: 80px ;

}
.main-nav  a{

  text-decoration: none;
}
.main-nav ul{

  display:flex;
  flex-direction:row-reverse;;


}
.main-nav li{

   list-style-type: none;

   margin-right:40px;

}

.main-content {


   width:70%;
 margin: 100px auto 50px;

}
.main-content p {




}
